{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
<title>Customer Page</title>
{% endblock %}

{% block content %}




<div class="grid grid-cols-1  gap-8 w-full items-center bg-center justify-center overflow-y-auto y-36 py-24" style="height: 100vh;">
    <div class="bg-white p-12 mx-auto rounded-2xl shadow-xl hover:shadow-2xl cursor-pointer mb-4 w-2/3">
        <div class="flex justify-between items-center mb-6">
            <div class="h-12">
                <img class="h-12" src="{% static 'images/suncontrol.png' %}" alt="Sun Control Logo">
            </div>
            <div class="text-right">
                <div class="flex items-center justify-end space-x-2">
                    <img src="{% static 'images/qc_passed.png' %}" alt="QC Passed" class="w-12 h-12">
                    <div class="text-gray-500">
                        <p class="text-3xl font-bold text-gray-700">{{order.po_number}}</p>
                        <p class="text-sm text-gray-600">PO: SUN{{order.po_number}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-8 text-sm">
            <div>
                <h2  class="font-semibold mb-2 ">Purchaser</h2>
                <p class="font-normal text-gray-600">NORTH SOLAR SCREEN</p>
                <p class="font-normal text-gray-600">63 Middlesex St, STE 16</p>
                <p class="font-normal text-gray-600">North Chelmsford, MA 01863</p>
                <p class="font-normal text-gray-600">(866) 230-4700</p>
                <p class="font-normal text-gray-600">carla@northsolarscreen.com</p>
                <div class="flex gap-2">
                    <div class="flex items-center mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#619fd5" class="h-5 w-5">
                            <path d="M12.378 1.602a.75.75 0 0 0-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03ZM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 0 0 .372-.648V7.93ZM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 0 0 .372.648l8.628 5.033Z" />
                        </svg>
                        
                            
                        
                        <span class="ml-1 text-xs text-gray-500">OLD DOMINION</span>
                    </div>
                    <div class="flex items-center mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#619fd5" class="h-5 w-5">
                            <path d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 0 1-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004ZM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 0 1-.921.42Z" />
                            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v.816a3.836 3.836 0 0 0-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 0 1-.921-.421l-.879-.66a.75.75 0 0 0-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 0 0 1.5 0v-.81a4.124 4.124 0 0 0 1.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 0 0-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 0 0 .933-1.175l-.415-.33a3.836 3.836 0 0 0-1.719-.755V6Z" clip-rule="evenodd" />
                          </svg>
                          
                        <span class="ml-1 text-xs text-gray-500">NET 15</span>
                    </div>
                </div>
               
            </div>
            <div>
                <h2 class="font-semibold mb-2">Ship to</h2>
                <p class="font-normal uppercase text-gray-600">{{order.account_name}}</p>
                <p class="font-normal text-gray-600">{{order.ship_to}}</p>
                <p class="font-normal text-gray-600">{{order.shipping_address}} {{order.zip_code}}</p>
                <p class="font-normal text-gray-600">{{order.phone}}</p>
                <p class="font-normal text-gray-600">{{customer.email}}</p>
            </div>
            <div>
                <h2  class="font-semibold mb-2">Installation Address</h2>
                {% if order.installation_address != "None" %}
                <p class="font-normal uppercase text-gray-600">{{order.account_name}}</p>
                <p class="font-normal text-gray-600">{{order.ship_to}}</p>
                <p class="font-normal text-gray-600">{{order.shipping_address}} {{order.zip_code}}</p>
                <p class="font-normal text-gray-600">{{order.phone}}</p>
                <p class="font-normal text-gray-600">{{customer.email}}</p>
                {% else %}
                <p class="font-normal uppercase text-gray-600">{{order.account_name}}</p>
                <p class="font-normal text-gray-600">{{order.installation_address}}</p>
                <p class="font-normal text-gray-600">{{order.phone}}</p>
                <p class="font-normal text-gray-600">{{customer.email}}</p>

                {% endif %}
            </div>
        </div>
    </div>





    <div class="bg-white p-12 mx-auto  rounded-2xl shadow-xl hover:shadow-2xl cursor-pointer mb-4 w-2/3">
        <div class="flex justify-between items-center mb-6">

            <div >
                <div class="flex items-center justify-end space-x-2">
                    <div class="text-gray-500">
                        <p class="text-xl font-bold text-gray-700">{{order.po_number}}</p>
                        <p class="text-sm text-gray-600">PO: SUN{{order.po_number}}</p>
                    </div>
                </div>
            </div>

            <div class="h-12 flex flex-row gap-2">
                <div class="flex flex-col gap-2">
                    <div class="flex gap-2">
                        <p class="text-sm font-bold text-gray-800">Entered:</p>
                        <p class="text-sm text-gray-600">12/13/2024</p>
                    </div>
                    <div class="flex gap-2">
                        <p class="text-sm font-bold text-gray-800">Shipped:</p>
                        <p class="text-sm text-gray-600">12/13/2024</p>
                    </div>
                    <div class="flex gap-2">
                        <p class="text-sm font-bold text-gray-800">Tracking #:</p>
                        <p class="text-sm text-gray-600">75424552432</p>
                    </div>
                </div>
                <div class="flex gap-2">
                    <p class="text-sm font-bold text-gray-800">QC:</p>
                    <p class="text-sm text-gray-600">12/13/2024</p>
                </div>
                
            </div>
            
        </div>

        <div class="flex justify-between items-center gap-8 text-sm pt-8 h-min">
            
            <div class="w-1/2">
                <h2  class="font-semibold mb-2">Order Notes</h2>
                <p class="font-normal text-gray-600">{{order.notes}}</p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempo
            </div>
        </div>
    </div>

    <!-- Units -->
    {% for unit in units %}
    <div class="bg-white p-12 mx-auto  rounded-2xl shadow-xl hover:shadow-2xl cursor-pointer mb-4 w-2/3">
        <div class="flex justify-between items-center mb-6">
            
            <div class="">
                <div class="flex items-center justify-end space-x-2">

                    <div class="text-gray-500">
                        <p class="text-3xl font-bold text-gray-700">Unit {{unit.unit_number}}</p>
                        <p class="text-sm text-gray-600">Serial Number: {{unit.unit_number}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-8 text-sm">
            <div>
                <p class="font-normal text-gray-600">Product Type: {{ unit.product_type }}</p>
                <p class="font-normal text-gray-600">Width: {{ unit.width }}</p>
                <p class="font-normal text-gray-600">Drop: {{ unit.drop }}</p>
                <p class="font-normal text-gray-600">Handing: {{ unit.handing }}</p>
                <p class="font-normal text-gray-600">Box Color: {{ unit.box_color }}</p>
                <p class="font-normal text-gray-600">Fabric Color: {{ unit.fabric_color }}</p>
                <p class="font-normal text-gray-600">Mounting: {{ unit.mounting }}</p>
                <p class="font-normal text-gray-600">Accessory: {{ unit.accessory }}</p>
                <p class="font-normal text-gray-600">Motor: {{ unit.motor_type }}</p>
            </div>
            <div>
                
                <p class="font-normal text-gray-600">Remote Type: {{ unit.remote_type }}</p>
                <p class="font-normal text-gray-600">Hand Brace: {{ unit.hand_brace }}</p>
                <p class="font-normal text-gray-600">Fabric Type: {{ unit.fabric_type }}</p>
                <p class="font-normal text-gray-600">Hardware Color: {{ unit.hardware_color }}</p>
                <p class="font-normal text-gray-600">Cable Mount: {{ unit.cable_mount }}</p>
                <p class="font-normal text-gray-600">Cable Size: {{ unit.cable_size }}</p>
                <p class="font-normal text-gray-600">Pile Brush: {{ unit.pile_brush }}</p>
            </div>
            
        </div>
    </div>
    {% endfor %}





</div>





{% endblock %}





{% block script %}
{% endblock %}