{% extends 'main/layout.html' %}
{% load static %}


{% block title %}

<title>Order Page</title>
{% endblock %}

{% block content %}

       
        <div class="bg-gray-100 w-3/4 p-8 flex justify-center">
            <div class="bg-white p-8 rounded-2xl" style="height: 88vh;">
           
            <div class="flex justify-between items-center mb-8">
                <h1 class="text-2xl font-bold">New Order</h1>
               
            </div>
            <div class="grid grid-cols-2">
                <div class="space-y-4 border-r-2 px-6 overflow-y-auto" style="height: 75vh;">
                    <div>
                        <label class="block font-bold">ACCOUNT NAME</label>
                        <input type="text" placeholder="North Solar Screen" class="w-full p-2 border border-gray-300 rounded">
                    </div>
                    <div>
                        <label class="block font-bold">PO #</label>
                        <input type="text" placeholder="SUN165952" class="w-full p-2 border border-gray-300 rounded">
                    </div>
                    <div>
                        <label class="block font-bold">SHIP TO</label>
                        <input type="text" placeholder="John Smith" class="w-full p-2 border border-gray-300 rounded">
                    </div>
                    <div>
                        <label class="block font-bold">SHIPPING ADDRESS</label>
                        <input type="text" placeholder="123 W. Palm Tree Lane STE 10" class="w-full p-2 border border-gray-300 rounded">
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block font-bold">CITY</label>
                            <input type="text" placeholder="Santa Barbara" class="w-full p-2 border border-gray-300 rounded">
                        </div>
                        <div>
                            <label class="block font-bold">STATE</label>
                            <input type="text" placeholder="CA" class="w-full p-2 border border-gray-300 rounded">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block font-bold">ZIP</label>
                            <input type="text" placeholder="93101" class="w-full p-2 border border-gray-300 rounded">
                        </div>
                        <div>
                            <label class="block font-bold">PHONE</label>
                            <input type="text" placeholder="(805) 555-5555" class="w-full p-2 border border-gray-300 rounded">
                        </div>
                    </div>
                    <div>
                        <label class="block font-bold">SHIP VIA</label>
                        <input type="text" placeholder="OLD DOMINION" class="w-full p-2 border border-gray-300 rounded">
                    </div>
                    <div>
                        <label class="block font-bold">INSTALLATION ADDRESS</label>
                        <div class="flex items-center mt-2 text-gray-400 text-sm">
                            <input type="checkbox" class="mr-2">
                            <label>SAME AS SHIPPING</label>
                        </div>
                        <input type="text" placeholder="123 W. Palm Tree Lane STE 10" class="w-full p-2 border border-gray-300 rounded">
                    </div>
                </div>
                <div class="space-y-4 px-6 h-[75vh] overflow-y-auto" style="height: 75vh;">

                    <div>
                        <label class="block font-bold">UNIT COUNT</label>
                        <input type="text" placeholder="2" class="w-full p-2 border border-gray-300 rounded">
                       
                    </div>











                    <!-- Unit 1 -->
                    <div>
                        <div class="flex justify-between"> 
                            <h2 class="font-bold">UNIT 1</h2>
                            <div class="flex items-center">
                                <input type="checkbox" class="mr-2">
                                <label>MANUAL SHADE</label>
                            </div>
                        </div>
                       
                        <div class="space-y-4">
                            
                            <div>
                                <label class="block font-bold">PRODUCT TYPE</label>
                                <select class="w-full p-2 border border-gray-300 rounded">
                                    <option>2022 HD ELITE FRT</option>
                                </select>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">WIDTH (INCHES)</label>
                                    <input type="text" class="w-full p-2 border border-gray-300 rounded">
                                </div>
                                <div>
                                    <label class="block font-bold">DROP (INCHES)</label>
                                    <input type="text" class="w-full p-2 border border-gray-300 rounded">
                                </div>
                            </div>
                            
                            <div class="grid grid-cols-2 gap-4">

                                <div>
                                    <label class="block font-bold">HANDING</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Remote Type 1</option>
                                        <option>Remote Type 2</option>
                                    </select>
                                </div>


                                <div>
                                    <label class="block font-bold">HAND BRACE</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Sun & Wind Sensor</option>
                                        <option>Wind Sensor</option>
                                        <option>Touch-Up Paint - Black</option>
                                        <option>Touch-Up Paint - Bronze</option>
                                        <option>Touch-Up Paint - Dk. Beige</option>
                                        <option>Touch-Up Paint - Ivory</option>
                                        <option>Touch-Up Paint - Grey</option>
                                        <option>Touch-Up Paint - Lt. Beige</option>
                                        <option>Touch-Up Paint - Sand</option>
                                        <option>Touch-Up Paint - White</option>
                                    </select>
                                    <div class="flex items-center mt-2">
                                        <input type="checkbox" class="mr-2">
                                        <label>ADD ACCESSORY</label>
                                    </div>
                                </div>

                            </div>


                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">HANDING</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Left</option>
                                        <option>Right</option>
                                    </select>
                                </div>
                                
                                <div>
                                    <label class="block font-bold">MOTOR</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Motor Type 1</option>
                                        <option>Motor Type 2</option>
                                    </select>
                                    <div class="flex items-center mt-2">
                                        <input type="checkbox" class="mr-2">
                                        <label>ADD MOTOR WIRE</label>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">

                                <div>
                                    <label class="block font-bold">REMOTE</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Remote Type 1</option>
                                        <option>Remote Type 2</option>
                                    </select>
                                    <div class="flex items-center mt-2">
                                        <input type="checkbox" class="mr-2">
                                        <label>ADD REMOTE</label>
                                    </div>
                                </div>


                                <div>
                                    <label class="block font-bold">ACCESSORY</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Sun & Wind Sensor</option>
                                        <option>Wind Sensor</option>
                                        <option>Touch-Up Paint - Black</option>
                                        <option>Touch-Up Paint - Bronze</option>
                                        <option>Touch-Up Paint - Dk. Beige</option>
                                        <option>Touch-Up Paint - Ivory</option>
                                        <option>Touch-Up Paint - Grey</option>
                                        <option>Touch-Up Paint - Lt. Beige</option>
                                        <option>Touch-Up Paint - Sand</option>
                                        <option>Touch-Up Paint - White</option>
                                    </select>
                                </div>

                            </div>


                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">BOX COLOR</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Color 1</option>
                                        <option>Color 2</option>
                                    </select>
                                </div>
                                <div >
                                    <label class="block font-bold">FABRIC TYPE</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Brush 1</option>
                                        <option>Brush 2</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label class="block font-bold">FABRIC COLOR</label>
                                <select class="w-full p-2 border border-gray-300 rounded">
                                    <option>Fabric Color 1</option>
                                    <option>Fabric Color 2</option>
                                </select>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">MOUNTING</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Mounting 1</option>
                                        <option>Mounting 2</option>
                                    </select>
                                </div>
                                <div >
                                    <label class="block font-bold">PILE BRUSH</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Brush 1</option>
                                        <option>Brush 2</option>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                    </div>








                    <hr class="pt-2">








                    <!-- Add more units similarly if needed -->

                    <div>
                        <div class="flex justify-between"> 
                            <h2 class="font-bold">UNIT 2</h2>
                            <div class="flex items-center">
                                <input type="checkbox" class="mr-2">
                                <label>MANUAL SHADE</label>
                            </div>
                        </div>
                        <div class="space-y-4">
                            
                            <div>
                                <label class="block font-bold">PRODUCT TYPE</label>
                                <select class="w-full p-2 border border-gray-300 rounded">
                                    <option>2022 HD ELITE FRT</option>
                                </select>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">WIDTH (INCHES)</label>
                                    <input type="text" class="w-full p-2 border border-gray-300 rounded">
                                </div>
                                <div>
                                    <label class="block font-bold">DROP (INCHES)</label>
                                    <input type="text" class="w-full p-2 border border-gray-300 rounded">
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">HANDING</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Left</option>
                                        <option>Right</option>
                                    </select>
                                </div>
                                
                                <div>
                                    <label class="block font-bold">MOTOR</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Motor Type 1</option>
                                        <option>Motor Type 2</option>
                                    </select>
                                    <div class="flex items-center mt-2">
                                        <input type="checkbox" class="mr-2">
                                        <label>ADD MOTOR WIRE</label>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">

                                <div>
                                    <label class="block font-bold">REMOTE</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Remote Type 1</option>
                                        <option>Remote Type 2</option>
                                    </select>
                                    <div class="flex items-center mt-2">
                                        <input type="checkbox" class="mr-2">
                                        <label>ADD REMOTE</label>
                                    </div>
                                </div>


                                <div>
                                    <label class="block font-bold">ACCESSORY</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Sun & Wind Sensor</option>
                                        <option>Wind Sensor</option>
                                        <option>Touch-Up Paint - Black</option>
                                        <option>Touch-Up Paint - Bronze</option>
                                        <option>Touch-Up Paint - Dk. Beige</option>
                                        <option>Touch-Up Paint - Ivory</option>
                                        <option>Touch-Up Paint - Grey</option>
                                        <option>Touch-Up Paint - Lt. Beige</option>
                                        <option>Touch-Up Paint - Sand</option>
                                        <option>Touch-Up Paint - White</option>
                                    </select>
                                </div>

                            </div>


                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">BOX COLOR</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Color 1</option>
                                        <option>Color 2</option>
                                    </select>
                                </div>
                                <div >
                                    <label class="block font-bold">FABRIC TYPE</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Brush 1</option>
                                        <option>Brush 2</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label class="block font-bold">FABRIC COLOR</label>
                                <select class="w-full p-2 border border-gray-300 rounded">
                                    <option>Fabric Color 1</option>
                                    <option>Fabric Color 2</option>
                                </select>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">MOUNTING</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Mounting 1</option>
                                        <option>Mounting 2</option>
                                    </select>
                                </div>
                                <div >
                                    <label class="block font-bold">PILE BRUSH</label>
                                    <select class="w-full p-2 border border-gray-300 rounded">
                                        <option>Brush 1</option>
                                        <option>Brush 2</option>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                </div>
            </div>
    </div>










{% endblock %}
