{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
<title>Order Page</title>
{% endblock %}

{% block content %}
<div class="bg-gray-100 w-3/4 p-8 flex justify-center">
    <div class="bg-white p-8 rounded-2xl" style="height: 88vh;">
        <div class="flex justify-between items-center mb-8">
            <h1 class="text-2xl font-bold">New Order</h1>
        </div>
        <div class="grid ">
            <div class="space-y-4  px-6 overflow-y-auto" style="height: 75vh;">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div>
                        <label class="block text-sm font-bold">ACCOUNT NAME</label>
                        {{ oform.account_name }}
                    </div>
                    <div>
                        <label class="block text-sm  font-bold">PO #</label>
                        {{ oform.po_number }}
                    </div>
                    <div>
                        <label class="block text-sm  font-bold">SHIP TO</label>
                        {{ oform.ship_to }}
                    </div>
                    <div>
                        <label class="block text-sm  font-bold">SHIPPING ADDRESS</label>
                        {{ oform.shipping_address }}
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block text-sm  font-bold">CITY</label>
                            {{ oform.city }}
                        </div>
                        <div>
                            <label class="block text-sm  font-bold">STATE</label>
                            {{ oform.state }}
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="block text-sm  font-bold">ZIP</label>
                            {{ oform.zip_code }}
                        </div>
                        <div>
                            <label class="block text-sm  font-bold">PHONE</label>
                            {{ oform.phone }}
                        </div>
                    </div>
                    <div>
                        <label class="block text-sm  font-bold">SHIP VIA</label>
                        {{ oform.ship_via }}
                    </div>
                    <div class=" mt-2 ">
                        <div class="flex items-center justify-between">
                            <label class="block text-sm  font-bold">INSTALLATION ADDRESS</label>
                            <div class=" text-gray-400 text-sm">
                                <label class="mr-3 text-sm ">SAME AS SHIPPING</label>
                                {{ oform.installation_address_same_as_shipping }}
                            </div>
                        </div>
                       
                        {{ oform.installation_address }}
                        
                        
                    </div>
                    <div class="w-full flex items-center mt-2 ">
                      
                            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white rounded-md px-4 py-2">Add Units</button>
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

document.addEventListener('DOMContentLoaded', (event) => {
    const sameShipCheckbox = document.querySelector('.sameship');
    const installationAddressInput = document.querySelector('.inadd');

    sameShipCheckbox.addEventListener('change', function() {
        if (this.checked) {
            installationAddressInput.disabled = true;
        } else {
            installationAddressInput.disabled = false;
        }
    });
});

</script>
{% endblock %}