{% extends 'main/layout.html' %}
{% load static %}


{% block title %}

<title>Order Page</title>
{% endblock %}

{% block content %}

       
        <div class="bg-gray-100 w-3/4 p-8 flex justify-center">
            <div class="bg-white p-8 rounded-2xl" style="height: 88vh;">
           
            <div class="flex justify-between items-center mb-8">
                <h1 class="text-2xl font-bold">Add Unit</h1>
                <span class="text-gray-500">ORDER #{{ order.po_number }}</span>
            </div>
            <div class="flex-col gap-10" style="height: 75vh;">
                <form method="POST">
                    {% csrf_token %}
                <div class="space-y-4 pb-4 mb-4 px-6 h-[75vh] overflow-y-auto" style="height: 65vh;">


                    <div>
                        <div class="flex justify-between"> 
                            <h2 class="font-bold">UNIT {{unit_number}}</h2>
                            <div class="flex items-center gap-2">
                                {{ form.manual_shade}}
                                <label>MANUAL SHADE</label>
                            </div>
                        </div>
                        
                        <div class="space-y-4 gap-4">
                        
                            
                            <div>
                                <label class="block font-bold">PRODUCT TYPE</label>
                                {{ form.product_type}}
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">WIDTH (INCHES)</label>
                                    {{ form.width}}
                                    <!-- <input name="width" type="text" class="w-full p-2 border border-gray-300 rounded"> -->
                                </div>
                                <div>
                                    <label class="block font-bold">DROP (INCHES)</label>
                                    {{ form.drop}}
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">HANDING</label>
                                    {{ form.handing}}
                                </div>
                                <div>
                                    <label class="block font-bold">MOTOR TYPE</label>
                                    {{ form.motor_type}}
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">FABRIC TYPE</label>
                                    {{ form.fabric_type}}
                                </div>
                                <div>
                                    <label class="block font-bold">FABRIC COLOR</label>
                                    {{ form.fabric_color}}
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">MOUNTING</label>
                                    {{ form.mounting}}
                                </div>
                                <div>
                                    <label class="block font-bold">ACCESSORY</label>
                                    {{ form.accessory}}
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">REMOTE TYPE</label>
                                    {{ form.remote_type}}
                                </div>
                                <div>
                                    <label class="block font-bold">HAND BRACE</label>
                                    {{ form.hand_brace}}
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">HARDWARE COLOR</label>
                                    {{ form.hardware_color}}
                                </div>
                                <div>
                                    <label class="block font-bold">BOX COLOR</label>
                                    {{ form.box_color}}
                                </div>
                            </div>
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label class="block font-bold">CABLE MOUNT</label>
                                    {{ form.cable_mount}}
                                </div>
                                <div>
                                    <label class="block font-bold">CABLE SIZE</label>
                                    {{ form.cable_size}}
                                </div>
                            </div>
                            <div>
                                <label class="block font-bold">PILE BRUSH</label>
                                {{ form.pile_brush}}
                            </div>
                        
                    </div>





                            
                        </div>


                        </div>
                        <div class="w-full flex items-center mt-4 box-border justify-center gap-4">
                            <a href="{% url 'customer' unique_code=customer.unique_code %}" class="w-full border-2 h-10 border-gray-700 text-center flex inset-2 box-border hover:bg-gray-700 hover:text-white text-gray-700 rounded-md px-4 items-center justify-center">Cancel</a>
                            <button type="submit" class="w-full border-2 h-10 border-gray-700 inset-2 box-border hover:bg-gray-700 text-center flex hover:text-white text-gray-700 rounded-md px-4 items-center justify-center">Add Unit {{unit_number|add:"1"}}</button>
                      
                            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600  text-white rounded-md px-4 py-2">Place Order</button>
                        
                    

                         </div>
                    </form>
                    
                </div>
                
                </div>
            </div>
    </div>
    {% if form.errors %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mt-4 absolute top-4 right-4" role="alert">
        <strong class="font-bold">Form Errors:</strong>
        <span class="block sm:inline">{{ form.errors }}</span>
    </div>
{% endif %}









{% endblock %}
