{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    
    {% endblock %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body class="bg-gray-100">
    <div>
        <div class="bg-gray-200 p-6 flex items-center justify-between">
            <!-- Logo Section -->
            <div class="flex items-center">
                <a href="/">
                    <div class="text-center">
                        <img src="{% static 'images/logoosaat.png' %}" class="h-12" alt="OSAAT Logo">
                    </div>
                </a>
            </div>
        
            <!-- Search and Logout Section -->
            <div class="flex items-center gap-12">
                <!-- Search Bar -->
                <form id="searchForm" action="{% url 'search' %}" method="get" class="w-full flex flex-row items-center justify-center gap-3">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="#888" class="w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>

                    </button>
                    
                    <input type="text" name="q" placeholder="Global Search" class="w-full p-2 border border-gray-400 rounded">
                </form>
        
                <!-- Logout Button -->
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="bg-gray-400 text-black px-4 py-2 rounded" type="submit">Logout</button>
                </form>
            </div>
        </div>

        <div class="p-8">
            {% block content %}{% endblock %}
        </div>
        


    </div>
</body>
<script> 
    var date = new Date(); 
    var dd = date.getDate(); 
    var mm = date.toLocaleString('default', { month: 'long' });
    var yyyy = date.getFullYear(); 
    var newDate =  mm + " "+dd+ "th, " +yyyy; 
    var p = document.getElementById("date"); 
    p.innerHTML = newDate; 


    let hours = date.getHours().toString().padStart(2, '0');
    let minutes = date.getMinutes().toString().padStart(2, '0');

    let currentTime = hours + ':' + minutes;
    var pt = document.getElementById("time"); 
    pt.innerHTML = currentTime; 

</script> 

{% block script %}

<script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var query = this.querySelector('input[name="q"]').value;
        if (query) {
            var newWindow = window.open(this.action + '?q=' + encodeURIComponent(query), '_blank');
        }
        if (newWindow) {
            newWindow.focus();
        }
    });
</script>

{% endblock %}

</html>